name: Formatting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-formatting:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Verify C formatting
        run: |
          passed=true
          for file in src/*.[ch] ; do clang-format $file > $file.formatted ; echo $file ; diff $file $file.formatted ; if [ $? != 0 ]; then passed=false ; fi ; rm $file.formatted ; done
          if [ $passed = false ]; then exit 1; fi

      - name: Verify Python formatting
        run: |
          sudo apt-get install pycodestyle
          pycodestyle doc/update-docs.py
          if [ $? != 0 ]; then exit 1; fi
